@mixin catalogo($colores) {
    .catalogo {
        margin-top: 4%;
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        .articulo {
            margin-bottom: 5%;
            justify-content: center;
            img {
                height: 150px;
                width: 200px;
            }
            text-align: center;
            color: map-get($colores, "fuente");
            .rating {
                margin-top: 20%;
                display: grid;
                float: right;
            }
            .edit {
                margin-top: 50%;
                float: right;
                img {
                    height: 30px;
                    width: 30px;
                }
            }
            h4 {
                margin: 0;
            }
            h5 {
                margin-top: 1%;
            }
        }
    }
}