@import '../mixins/menu-horizontal', '../mixins/busqueda', '../mixins/menu-vertical';
@import '../mixins/cabecera', '../mixins/footer', '../mixins/itinerario';

$colores: (
    "primario": #495579,
    "fondo":  #263159,
    "fuente": #FFFF
);

@include menu-horizontal($colores);
@include busqueda();
@include menu-vertical($colores);
@include cabecera($colores);
@include footer($colores);
@include itinerario($colores);

body {
    background-color: map-get($colores, "fondo");
    h1 {
        color: map-get($colores, "fuente");
        text-align: center;
    }
    .separador {
        width: 100%;
    }
    footer {
        bottom: 0;
        background-color: map-get($colores, "primario");
    }
    .cuerpo  {
        color: map-get($colores, "fuente");
        margin: 2%;
        img {
            width: 400px;
            height: 350px;
            float: left;
            margin: 0.5%
        }
        p {
            text-align: justify;
        }
    }
    .subCuerpo {
        color: map-get($colores, "fuente");
        h1 {
            text-align: left;
        }
        hr {
            border: none;
            height: 5px;
            background-color: map-get($colores, "primario");
        }
        textarea {
            height: 10em;
            width: 90%;
        }
    }
}

@media (max-width: 460px) {
    .parrafo {
        display: none;
    }
}


@media (min-width: 100px) and (max-width: 730px) {
    .itinerario {
        grid-template-columns: 100%;
    }
    footer {
        position: sticky;
    }
}

@media (min-width: 730px) {
    .itinerario {
        grid-template-columns: 30% 30% 30%;
    }
    .separador {
        display: none;
    }
}

@media (max-width: 730px) {
    .menu-horizontal {
        display: none;
    }
}

@media (min-width: 730px) {
    #hamburger-menu {
        display: none;
    }
}