@import '../mixins/menu-horizontal', '../mixins/busqueda', '../mixins/menu-vertical';
@import '../mixins/cabecera', '../mixins/footer', '../mixins/nuevo-itinerario';

$colores: (
    "primario": #495579,
    "fondo":  #263159,
    "fuente": #FFFF
);

@include menu-horizontal($colores);
@include busqueda();
@include menu-vertical($colores);
@include cabecera($colores);
@include footer($colores);
@include nuevo-itinerario($colores);

body {
    background-color: map-get($colores, "fondo");
}

@media (max-width: 730px) {
    .menu-horizontal {
        display: none;
    }
}

@media (min-width: 730px) {
    #hamburger-menu {
        display: none;
    }
}