@import 'menu-horizontal', 'busqueda', 'menu-vertical', 'cabecera';

$colores: (
    "primario": #495579,
    "fondo":  #263159,
    "fuente": #FFFF
);

@include menu-horizontal($colores);
@include busqueda();
@include menu-vertical($colores);
@include cabecera($colores);

body {
    background-color: map-get($colores, "fondo");
}

@media (max-width: 950px) {
    .menu-horizontal {
        display: none;
    }
}

@media (min-width: 950px) {
    #hamburger-menu {
        display: none;
    }
}